form {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-form-field {
  width: 100%;
}

button[type="submit"] {
  padding: 12px;
  background: #2a47e9;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.mensajeError {
  color: red;
}






