card {
  border: 2px solid #444;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.estrellas {
  font-size: 1.3rem;
  color: gold;
}